* {
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f47e2f !important;
    color: white !important;
    padding: 10px;
    margin: 0;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

#timer {
    font-size: 1.25rem;
    margin: 10px 0;
}

.difficulties {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
}

#game-board {
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    gap: 2px;
    margin: 20px 0;
}

#game-stats {
    text-align: center;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: #228b22;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #000000;
}

.cell.revealed {
    background-color: white;
    cursor: default;
}

.cell.mine {
    background-color: #fd103f;
    background-image: url('../img/bomb.png');
    background-size: cover;
    background-position: center;
}

.cell.revealed-mine {
    background-color: #faec28;
    background-image: url('../img/bomb.png');
    background-size: cover;
    background-position: center;
    cursor: default;
}

.cell.flag, .cell.correct-flag {
    background-image: url('../img/flag.png');
    background-size: cover;
    background-position: center;
}

.cell.correct-flag {
    background-color: #27fb6b;
}

.cell.wrong-flag {
    background-color: #2dc5f7;
}

.number-1 { color: blue; }
.number-2 { color: green; }
.number-3 { color: red; }
.number-4 { color: navy; }
.number-5 { color: brown; }
.number-6 { color: turquoise; }
.number-7 { color: black; }
.number-8 { color: gray; }

/* Media Queries per la responsività */

@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }
    
    #timer {
        font-size: 1rem;
    }
    
    .difficulties {
        flex-direction: column;
        gap: 5px;
    }
    
    button {
        padding: 8px 16px;
        font-size: 0.875rem;
    }
    
    #game-board {
        grid-template-columns: repeat(10, 8vw);
        grid-template-rows: repeat(10, 8vw);
    }
    
    .cell {
        width: 8vw;
        height: 8vw;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.25rem;
    }
    
    #timer {
        font-size: 0.875rem;
    }
    
    button {
        padding: 6px 12px;
        font-size: 0.75rem;
    }
    
    #game-board {
        grid-template-columns: repeat(10, 9vw);
        grid-template-rows: repeat(10, 9vw);
    }
    
    .cell {
        width: 9vw;
        height: 9vw;
    }
}